@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  font-family: "Comfortaa", sans-serif;
  background-color: #BED8D4;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

button {
  background-color: #96aeae;
  border: 0.2rem solid rgb(56, 56, 56);
  padding: 10px 20px;
  border-radius: 5rem;
  margin: 1rem;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

h4 {
  text-align: left;
}

.are {
  padding-top: 50%;
}

.question {
  font-size: 1.7rem;
  color: #000000;
}

span {
  font-size: 2rem;
  color: #000000;
}

input {
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  border: 0.2rem solid rgb(135, 135, 135);
  font-size: 3rem;
  background-color: #eaf7f5;
  font-family: "Comfortaa", sans-serif;
}